*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.bold{
    font-weight: 700;
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: bisque;
    color: #392620;
    width:100px;
    height:50px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}